/*
VARS:
yellow: #ffec6b;
black: #1C1C1C;

breakpoints: (default: large)
large: >1050px;
medium: <700px;
small: <400px;

transition-duration: 0.3s;

*/

@font-face {
  font-family: 'TrueNorth-Regular';
  src: url('../fonts/true-north.eot');
  src: url('../fonts/true-north.eot?#iefix') format('embedded-opentype'),
             url('../fonts/true-north.woff2') format('woff2'),
       url('../fonts/true-north.woff') format('woff'),
       url('../fonts/true-north.ttf') format('truetype'),
       url('../fonts/true-north.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: #1C1C1C;
  font-family: courier, monospace;

  /*
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  */

  background: repeating-linear-gradient(
    315deg,
    #ffec6b,
    #ffec6b 60px,
    #ffffff 60px,
    #ffffff 120px
  );
}

/* tags */
h1 {
  font-family: TrueNorth-Regular, sans-serif;
  font-weight: normal;
  font-size: 4rem;
  line-height: 1.03
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.78rem;
  }
}

img {
  max-width: 100%;
}

a.no-deco {
  text-decoration: none;
}

a.hover-deco {
 text-decoration: none;
}

a.hover-deco:hover {
  text-decoration: underline;
}

/* basics */
.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

p, .text {
  font-weight: normal;
  font-size: 0.9375em;
  line-height: 1.5;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

.flex-1 {
  flex: 1;
}

.transition {
  transition: all 0.3s;
}

.lte-medium-show {
  display: none;
}

.no-margin {
  margin: 0 !important;
}

@media screen and (max-width: 700px) {
  .lte-medium-hide {
    display: none;
  }

  .lte-medium-show {
    display: block;
  }
}

/* layout */
.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-item: flex-start;
  justify-content: space-between;
}

.content > * {
  width: 100%;
}

.header {
  padding-top: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 75px;
  padding-right: 40px;
}

@media screen and (max-width: 700px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.push-top-2 {
  margin-top: 2em;
}

.push-top-4 {
  margin-top: 4em;
}

.third, .cols-4 {
  display: inline-block;
  width: 21.8125rem;
  max-width: 100%;
  margin-right: 1.1875rem;
}

.footer {
  padding: 2em 0;
  font-size: 0.875em;
  line-height: 1.5;
  background-color: #1C1C1C;
  color: white;
}

.right {
  float: right;
}

.left {
  float: left;
}

.footer a {
  color: white;
}

/* design */
.claim {
  margin-top: 5rem;
  margin-left: -0.15em;
  margin-bottom: 0.2rem;
}

.icon-small {
  height: 2.5em;
  width: 2.5em;
  vertical-align: middle;
  margin-right: 1em;
}


@media screen and (max-width: 400px) {
  .icon-small {
    height: 2em;
    width: 2em;
  }
}

.icon-medium {
  height: 3.5em;
  width: 3.5em;
  vertical-align: middle;
  margin-bottom: 0.7em;
}

.icon-large {
  height: 6em;
  width: 6em;
}

@media screen and (max-width: 700px) {
  .icon-large {
    height: 5em;
    width: 5em;
  }
}

.icon-xlarge {
  height: 7em;
  width: 7em;
}

@media screen and (max-width: 1050px) {
  .icon-xlarge {
      height: 6em;
      width: 6em;
    }
}

@media screen and (max-width: 400px) {
  .icon-xlarge {
    height: 5em;
    width: 5em;
  }
}

#strawberry-icon {
  top: 19.5rem;
  left: -2.5rem;
}

@media screen and (max-width: 700px) {
  #strawberry-icon {
    left: -3.75rem;
  }
}

#brine-icon {
  top: 24rem;
  right: 5%;
}

@media screen and (max-width: 1050px) {
  #brine-icon {
    top: 4rem;
    right: 9%;
  }
}

@media screen and (max-width: 400px) {
  #brine-icon {
    top: 5rem;
    right: 9%;
  }
}

#lime-icon {
  top: 35rem;
  right: 16%;
}

@media screen and (max-width: 1050px) {
  #lime-icon {
    top: 35rem;
    right: 5%;
  }
}

@media screen and (max-width: 400px) {
  #lime-icon {
    top: 50rem;
    right: 5%;
  }
}

#juicebike-button {
  top: 16rem;
  right: 22%;
}

@media screen and (max-width: 1050px) {
  #juicebike-button {
    top: 19rem;
    right: 22%;
  }
}

@media screen and (max-width: 400px) {
 #juicebike-button {
    top: 16rem;
    right: 1%;
  }
}

#carrot-icon {
  top: -1.5rem;
  left: 28rem;
}

@media screen and (max-width: 700px) {
  #carrot-icon {
    top: 3rem;
    left: 14rem;
  }
}

.icon-button {
  position: absolute;
  height: 9em;
  width: 9em;
  background-color: #1C1C1C;
  border-radius: 9em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button img {
  width: 100%;
}

@media screen and (max-width: 1050px) {
  .icon-button {
    height: 7em;
    width: 7em;
  }
}

/* dev */
#devhelper {
  /*opacity: 0.5;*/
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1200px;
  background-image: url(/images/mockups/saftlade_0000_page.jpg);
  background-size: cover;
}
