/*
VARS:
yellow: #ffec6b;
black: #1C1C1C;
grey: #f9f8ee;

breakpoints: (default: large)
large: >1050px;
medium: <700px;
small: <400px;

transition-duration: 0.3s;

*/

@font-face {
  font-family: 'TrueNorth-Regular';
  src: url('../fonts/true-north.eot');
  src: url('../fonts/true-north.eot?#iefix') format('embedded-opentype'),
             url('../fonts/true-north.woff2') format('woff2'),
       url('../fonts/true-north.woff') format('woff'),
       url('../fonts/true-north.ttf') format('truetype'),
       url('../fonts/true-north.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f9f8ee;
  color: #1C1C1C;
  font-family: courier, monospace;
}

/* tags
******************************************************************************/
h1, h2 {
  font-family: "TrueNorth-Regular", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 4rem;
  line-height: 1.03
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.9rem;
  }
}

img {
  max-width: 100%;
}

a {
  color: #1C1C1C;
}

a.no-deco {
  text-decoration: none;
}

a.hover-deco {
 text-decoration: none;
}

a.hover-deco:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  list-style-type: none;
}

ul li:before {
  content:"-";
  position:relative;
  left: -5px;
}

ul li {
  text-indent: -0.59em;
}

/* basics
******************************************************************************/
.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

p, .text {
  font-weight: normal;
  line-height: 1.5;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

.flex-1 {
  flex: 1;
}

.transition {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lte-medium-show, .lte-small-show {
  display: none;
}

@media screen and (max-width: 700px) {
  .lte-medium-hide {
    display: none;
  }

  .lte-medium-show {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .lte-small-hide {
    display: none;
  }

  .lte-small-show {
    display: block;
  }
}

.rotate-15 {
  transform: rotate(-15deg);
}

.no-margin {
  margin: 0 !important;
}

.no-overflow {
  overflow: hidden;
}


/* layout
******************************************************************************/
.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-item: flex-start;
  justify-content: space-between;
}

.content > * {
  width: 100%;
}

.panel {
  min-height: 50rem;
  min-height: 80vh;
  padding-top: 1rem;
  padding-bottom: 6rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 75px;
  padding-right: 40px;
}

.container::after {
  content: " ";
  display: block;
  clear: both;
}

@media screen and (max-width: 700px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.push-top-2 {
  margin-top: 2em;
}

.push-top-4 {
  margin-top: 4em;
}

@media screen and (max-width: 700px) {
  .push-top-4 {
    margin-top: 2em;
  }
}

.margin-bottom-3 {
  margin-bottom: 3em;
}

.third, .cols-4 {
  display: inline-block;
  width: 21.8125rem;
  max-width: 100%;
  margin-right: 1.1875rem;
  float: left;
}

.footer {
  padding: 2em 0;
  font-size: 0.875em;
  line-height: 1.5;
}

.right {
  float: right;
}

.left {
  float: left;
}

.z10 {
  z-index: 10;
}

@media screen and (max-width: 400px) {
  .small-spacer {
    margin-bottom: 8rem;
  }
}

/* design
******************************************************************************/
.stripe-bg {
  background: repeating-linear-gradient(
    315deg,
    #ffec6b,
    #ffec6b 60px,
    #ffffff 60px,
    #ffffff 120px
  );
}

.logo {
  position: fixed;
  width: 100%;
  top: 1rem;
  left: 0;
}

@media screen and (max-width: 400px) {
  .logo {
    position: static;
    font-size: 0.7rem;
    margin-bottom: 1.5rem;
  }
}

.dark {
  background-color: #2b2b2b;
  color: white;
}

.dark a {
  color: white;
}

.claim {
  margin-top: 8rem;
  margin-left: -0.06em;
  margin-bottom: 0.2rem;
  max-width: 50rem;
}

@media screen and (max-width: 400px) {
  .claim {
    margin-top: 1rem;
  }
}

.icon-small {
  height: 2.5em;
  width: 2.5em;
  vertical-align: middle;
  margin-right: 1em;
}


@media screen and (max-width: 400px) {
  .icon-small {
    height: 2em;
    width: 2em;
  }
}

.icon-medium {
  height: 3.5em;
  width: 3.5em;
  vertical-align: middle;
  margin-bottom: 0.7em;
}

.icon-large {
  height: 6em;
  width: 6em;
}

@media screen and (max-width: 700px) {
  .icon-large {
    height: 5em;
    width: 5em;
  }
}

.icon-xlarge {
  height: 7em;
  width: 7em;
}

@media screen and (max-width: 1050px) {
  .icon-xlarge {
      height: 6em;
      width: 6em;
    }
}

@media screen and (max-width: 400px) {
  .icon-xlarge {
    height: 5em;
    width: 5em;
  }
}

#strawberry-icon {
  top: 19.5rem;
  left: -2.5rem;
}

@media screen and (max-width: 700px) {
  #strawberry-icon {
    left: -3.75rem;
  }
}

#brine-icon {
  top: 24rem;
  right: 5%;
}

@media screen and (max-width: 1050px) {
  #brine-icon {
    top: 4rem;
    right: 9%;
  }
}

@media screen and (max-width: 400px) {
  #brine-icon {
    top: auto;
    right: 9%;
    bottom: 7rem;
  }
}

#lime-icon {
  top: 35rem;
  right: 16%;
}

@media screen and (max-width: 1050px) {
  #lime-icon {
    top: 37rem;
    right: 5%;
  }
}

@media screen and (max-width: 400px) {
  #lime-icon {
    top: auto;
    bottom: 2rem;
    right: 60%;
  }
}

#instagram-button {
  top: 16rem;
  right: 22%;
}

@media screen and (max-width: 1050px) {
  #instagram-button {
    top: 17rem;
    right: 22%;
  }
}

@media screen and (max-width: 400px) {
 #instagram-button {
    top: 9rem;
    right: -1rem;
  }
}

#carrot-icon {
  top: -1.5rem;
  left: 28rem;
}

@media screen and (max-width: 700px) {
  #carrot-icon {
    top: 3rem;
    left: 14rem;
  }
}

.icon-button {
  text-align: center;
  text-decoration: none;
  color: white;
  position: absolute;
  height: 9em;
  width: 9em;
  background-color: #1C1C1C;
  border-radius: 9em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover {
  transform: scale(1.5) rotate(-15deg);
}

.icon-button img {
  width: 100%;
}

@media screen and (max-width: 1050px) {
  .icon-button {
    height: 7em;
    width: 7em;
  }
}

@media screen and (max-width: 400px) {
  .icon-button {
    height: 6em;
    width: 6em;
  }
}

#instagram-image {
  position: relative;
  float: right;
  right: 0;
  top: -17rem;
  display: block;
  width: 50%;
  max-width: 480px;
  margin-bottom: -14rem;
}

@media screen and (max-width: 1050px) {
  #instagram-image {
    top: -11rem;
    margin-bottom: -8rem;
  }
}

@media screen and (max-width: 700px) {
  #instagram-image {
    float: none;
    width: 100%;
    top: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  #instagram-image {
    float: none;
    width: calc(100% + 2rem);
    top: 0;
    right: 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}


#juicebike-button {
  position: absolute;
  bottom: -2rem;
  left: -3rem;
}

@media screen and (max-width: 700px) {
  #juicebike-button {
    display: none;
  }
}

#greetings {
  position: relative;
  top: 40vh;
  pointer-events: none;
}

.gallery {
  width: 100%;
  padding-bottom: 49%;
}

.gallery-image {
  position: absolute;
}

.gallery-image.active::after {
  opacity: 0;
}

.gallery-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 0.3s;
}

.gallery-image:hover {
  z-index: 10;
}

.gallery-image:hover::after {
  opacity: 0;
}

#gallery-img1 {
  top: 4rem;
  max-width: 65%;
  left: 20%;
}

#gallery-img2 {
  top: 7rem;
  max-width: 30%;
  left: 10%;
}

#gallery-img3 {
  top: 6rem;
  max-width: 50%;
  right: 5%;
}

@media screen and (max-width: 400px) {
  .gallery {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    padding-bottom: 49%;
  }

  #gallery-img1 {
    left: 13%;
    max-width: 74%;
  }

  #gallery-img2 {
    left: 0;
  }

  #gallery-img3 {
    right: 0;
  }
}
/*
}
*/

#saftkurier-photos-holder {
  position: absolute;
  width: 50%;
  top: -5rem;
  right: 1rem;
  padding-bottom: 43%;
}

@media screen and (max-width: 700px) {
  #saftkurier-photos-holder {
    position: relative;
    top: 0;
    left: 1rem;
    float: left;
    width: calc(100% - 2rem);
    padding-bottom: 75%;
  }
}

.saftkurier-photo {
  position: absolute;
}

.saftkurier-photo::hover {
  z-index: 5
}

#saftkurier-photo-1 {
  margin-top: 10%;
}

#saftkurier-photo-2 {
  width: 60%;
  left: 20%;
}

#juicebike-button-2 {
  top: 20rem;
  left: -2rem;
}

@media screen and (max-width: 1050px) {
  #juicebike-button-2 {
    top: 20rem;
    left: auto;
    right: 2rem;
  }
}

@media screen and (max-width: 700px) {
  #juicebike-button-2 {
    top: 90%;
    left: auto;
    right: 2rem;
  }
}

.grey-glow {
  text-shadow: 0px 0px 30px rgba(249, 248, 238, 1);
}

.grey-tape {
  background-color: #f9f8ee;
}

/* dev
******************************************************************************/
#devhelper {
  /*opacity: 0.5;*/
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1200px;
  background-image: url(/images/mockups/saftlade_0000_page.jpg);
  background-size: cover;
}
